<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tours</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tour</display-name>
    <servlet-name>Tour</servlet-name>
    <servlet-class>com.controller.Tour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tour</servlet-name>
    <url-pattern>/Tour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.admin.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quote</display-name>
    <servlet-name>Quote</servlet-name>
    <servlet-class>com.controller.Quote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quote</servlet-name>
    <url-pattern>/Quote</url-pattern>
  </servlet-mapping>
</web-app>